<p-panel>
    <p-header>
        <b>Examen de Valoracion</b>
    </p-header>
    <div class="col flex align-items-center justify-content-center">
        <p-card
            class="m-2"
            header="Datos del Estudiante"
            [style]="{ width: '600px' }"
        >
            <div class="mt-2 flex justify-content-between">
                <span>Codigo</span>
                <span>John Doe</span>
            </div>
            <div class="mt-2 flex justify-content-between">
                <span>Numero de Identificacion</span>
                <span>John Doe</span>
            </div>
            <div class="mt-2 flex justify-content-between">
                <span>Nombres y Apellidos</span>
                <span>John Doe</span>
            </div>
        </p-card>
    </div>
    <p-footer [style]="{width: '100%'}">
        <div class="flex justify-content-center mb-3">
            <button
                pButton
                type="button"
                icon="pi pi-plus"
                label="Inicio del Proceso"
                (click)="onSolicitudExamen()"
            ></button>
        </div>
    </p-footer>
</p-panel>
