<p-panel>
    <p-header>
        <b>Examen de Valoracion</b>
    </p-header>
    <div class="col flex align-items-center justify-content-center">
        <p-card
            class="m-2"
            header="Datos del Estudiante"
            [style]="{ width: '600px' }"
        >
            <div class="mt-2 flex justify-content-between">
                <span>Codigo</span>
                <span>John Doe</span>
            </div>
            <div class="mt-2 flex justify-content-between">
                <span>Numero de Identificacion</span>
                <span>John Doe</span>
            </div>
            <div class="mt-2 flex justify-content-between">
                <span>Nombres y Apellidos</span>
                <span>John Doe</span>
            </div>
        </p-card>
    </div>
    <div class="card">
        <p-toast></p-toast>
        <p-steps
            [model]="items"
            [readonly]="true"
            [activeIndex]="activeIndex"
            (activeIndexChange)="onActiveIndexChange($event)"
        ></p-steps>
    </div>
    <p-footer [style]="{ width: '80rem' }">
        <form [formGroup]="solicitudForm">
            <div class="flex flex-column gap-2">
                <div class="text-center font-medium mb-4">
                    <p>
                        <b
                            >Información asociada a la solicitud del examen de
                            valoracion</b
                        >
                    </p>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required"
                            >Título del Trabajo de Investigacion</label
                        >
                    </div>
                    <div class="col-7">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-sm w-25rem"
                            formControlName="titulo"
                            [ngClass]="{
                                'ng-invalid ng-dirty':
                                    getFormControl('titulo').invalid &&
                                    getFormControl('titulo').touched
                            }"
                        />
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required"
                            >Solicitud Examen de Valoracion (Formato A .pdf)
                        </label>
                    </div>
                    <div class="col-7">
                        <p-fileUpload
                            mode="basic"
                            name="doc_solicitud_valoracion"
                            accept=".pdf"
                            [style]="{ margin: 0 }"
                            maxFileSize="2000000"
                            (onSelect)="onFileSelectFirst($event)"
                            [auto]="true"
                            chooseLabel="Buscar documento"
                        ></p-fileUpload>
                        <div *ngIf="selectedFileFirst" class="mt-2">
                            <p>Documento seleccionado: {{ selectedFileFirst.name }}</p>
                        </div>
                        <div *ngIf="!selectedFileFirst">
                            <p>No has seleccionado ningún documento.</p>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required"
                            >Anteproyecto presentado a Examen (Formato D .pdf,
                            .rar, .zip)
                        </label>
                    </div>
                    <div class="col-7">
                        <p-fileUpload
                            mode="basic"
                            name="doc_anteproyecto_exame"
                            accept=".pdf,.zip,.rar"
                            [style]="{ margin: 0 }"
                            maxFileSize="5000000"
                            (onSelect)="onFileSelectSecond($event)"
                            [auto]="true"
                            chooseLabel="Buscar documento"
                        ></p-fileUpload>
                        <div *ngIf="selectedFileSecond" class="mt-2">
                            <p>Documento seleccionado: {{ selectedFileSecond.name }}</p>
                        </div>
                        <div *ngIf="!selectedFileSecond">
                            <p>No has seleccionado ningún documento.</p>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label
                            >Examen de Valoracion (Formato E .pdf, .rar, .zip)
                        </label>
                    </div>
                    <div class="col-7">
                        <p-fileUpload
                            mode="basic"
                            name="doc_examen_valoracion"
                            accept=".pdf,.zip,.rar"
                            [style]="{ margin: 0 }"
                            maxFileSize="5000000"
                            (onSelect)="onFileSelectThird($event)"
                            [auto]="true"
                            chooseLabel="Buscar documento"
                        ></p-fileUpload>
                        <div *ngIf="selectedFileThird" class="mt-2">
                            <p>Documento seleccionado: {{ selectedFileThird.name }}</p>
                        </div>
                        <div *ngIf="!selectedFileThird">
                            <p>No has seleccionado ningún documento.</p>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required">Evaluador Externo</label>
                    </div>
                    <div
                        class="col-7"
                        *ngIf="experto?.value; else noEvaluadorSelected"
                    >
                        <div class="flex align-items-center">
                            <p-card [style]="{ width: '30vw', margin: 0 }">
                                <div class="flex justify-content-between">
                                    <span
                                        style="
                                            font-size: 18px;
                                            font-weight: bold;
                                        "
                                        >Datos del Evaluador Externo</span
                                    >
                                    <button
                                        pButton
                                        icon="pi pi-times"
                                        style="border: none; font-size: 1.2rem"
                                        (click)="limpiarExperto()"
                                    ></button>
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Nombres y Apellidos</span>
                                    <span
                                        >{{ experto?.value?.nombre }}
                                        {{ experto?.value?.apellido }}</span
                                    >
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Universidad</span>
                                    <span>{{
                                        experto?.value?.universidad
                                    }}</span>
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Correo</span>
                                    <span>{{ experto?.value?.correo }}</span>
                                </div>
                            </p-card>
                        </div>
                    </div>
                    <div class="align-self-center" *ngIf="!experto?.value">
                        <button
                            pButton
                            icon="pi pi-plus"
                            label="Seleccionar Evaluador"
                            (click)="onSeleccionarExperto()"
                        ></button>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required">Evaluador Interno</label>
                    </div>
                    <div
                        class="col-7"
                        *ngIf="docente?.value; else noEvaluadorSelected"
                    >
                        <div class="flex align-items-center">
                            <p-card [style]="{ width: '30vw', margin: 0 }">
                                <div class="flex justify-content-between">
                                    <span
                                        style="
                                            font-size: 18px;
                                            font-weight: bold;
                                        "
                                        >Datos del Evaluador Interno</span
                                    >
                                    <button
                                        pButton
                                        icon="pi pi-times"
                                        style="border: none; font-size: 1.2rem"
                                        (click)="limpiarDocente()"
                                    ></button>
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Nombres y Apellidos</span>
                                    <span
                                        >{{ docente?.value?.nombre }}
                                        {{ docente?.value?.apellido }}</span
                                    >
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Universidad</span>
                                    <span>{{
                                        docente?.value?.universidad
                                    }}</span>
                                </div>
                                <div class="mt-2 flex justify-content-between">
                                    <span>Correo</span>
                                    <span>{{ docente?.value?.correo }}</span>
                                </div>
                            </p-card>
                        </div>
                    </div>
                    <div class="align-self-center" *ngIf="!docente?.value">
                        <button
                            pButton
                            icon="pi pi-plus"
                            label="Seleccionar Evaluador"
                            (click)="onSeleccionarDocente()"
                        ></button>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label class="label-required"
                            >No Acta de aprobacion del examen</label
                        >
                    </div>
                    <div class="col-7">
                        <p-inputNumber
                            inputId="integeronly"
                            formControlName="numero_acta"
                        ></p-inputNumber>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label>Fecha del Acta</label>
                    </div>
                    <div class="col-7">
                        <p-calendar
                            formControlName="fecha_acta"
                            [showIcon]="true"
                            dateFormat="dd.mm.yy"
                        ></p-calendar>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label
                            >Oficio dirigido a jurados sobre instrucciones para
                            el examen de valoracion (.pdf)
                        </label>
                    </div>
                    <div class="col-7">
                        <p-fileUpload
                            mode="basic"
                            name="doc_oficio_jurados"
                            accept=".pdf"
                            [style]="{ margin: 0 }"
                            maxFileSize="2000000"
                            (onSelect)="onFileSelectFourth($event)"
                            [auto]="true"
                            chooseLabel="Buscar documento"
                        ></p-fileUpload>
                        <div *ngIf="selectedFileFourth" class="mt-2">
                            <p>Documento seleccionado: {{ selectedFileFourth.name }}</p>
                        </div>
                        <div *ngIf="!selectedFileFourth">
                            <p>No has seleccionado ningún documento.</p>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <div class="col-5 text-right align-self-center">
                        <label>Fecha Maxima de la Evaluacion</label>
                    </div>
                    <div class="col-7">
                        <p-calendar
                            formControlName="fecha_maxima_evaluacion"
                            [showIcon]="true"
                            dateFormat="dd.mm.yy"
                        ></p-calendar>
                    </div>
                </div>
            </div>
            <div class="flex align-items-center justify-content-end mt-4">
                <button
                    pButton
                    type="button"
                    label="Registar Informacion"
                    (click)="onSave()"
                    [loading]="loading"
                ></button>
            </div>
        </form>
    </p-footer>
</p-panel>
<ng-template #noEvaluadorSelected>
    <p-fieldset legend="Cargar Evaluador"></p-fieldset>
</ng-template>
