<div id="formatoC">
    <div class="flex flex-column w-full mb-4">
        <div
            class="flex flex-row align-items-center justify-content-evenly header-logo"
        >
            <h2>
                Maestría en Computación Facultad de Ingeniería Electrónica y
                Telecomunicaciones
            </h2>
            <img
                src="assets/layout/images/logoUnicauca.png"
                alt="Logo Unicauca"
                width="120px"
                height="120px"
            />
        </div>
        <div
            class="flex flex-column w-full justify-content-center align-items-center row-gap-4 header-titulo"
        >
            <span style="font-size: 20px"> FORMATO C </span>
            <span>
                Popayán {{ fechaActual | date : "dd/MM/yyyy HH:mm:ss" }}
            </span>
        </div>
    </div>
    <form class="mt-4" [formGroup]="formatoCForm">
        <div class="flex flex-column gap-4">
            <div class="field grid">
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label class="uppercase">Asunto</label>
                    <span>{{ formatoCForm.get("asunto").value }}</span>
                </div>
                <!-- END -->

                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Asunto</label>
                </div>
                <div class="col-9 col-input">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full p-hide"
                        formControlName="asunto"
                    ></textarea>
                </div>
            </div>
            <div class="field grid">
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label class="uppercase">Titulo</label>
                    <span>{{ formatoCForm.get("titulo").value }}</span>
                </div>
                <!-- END -->

                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Titulo</label>
                </div>
                <div class="col-9 col-input">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full p-hide"
                        formControlName="titulo"
                    ></textarea>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="font-bold"
                        >Observaciones y recomendaciones para el estudiante:
                    </label>
                </div>
            </div>
            <div
                formArrayName="observaciones"
                *ngFor="let item of observaciones.controls; let i = index"
                class="field grid"
            >
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label>Observacion {{ i + 1 }}</label>
                    <span>{{
                        observaciones.at(i).get("observacion" + i)?.value
                    }}</span>
                </div>
                <!-- END -->
                <div
                    class="col-2 col-label text-right mr-2 align-self-start p-hide"
                >
                    <label class="pdf-label uppercase font-bold"
                        >Observacion {{ i + 1 }}</label
                    >
                </div>
                <div class="col-9 col-input" [formGroupName]="i">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full"
                        [formControlName]="'observacion' + i"
                    ></textarea>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2"></div>
                <div class="col-9 flex column-gap-4">
                    <button
                        pButton
                        icon="pi pi-plus"
                        (click)="addItem('observaciones')"
                        style="border: none; font-size: 1.2rem"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-times"
                        (click)="deleteItem('observaciones')"
                        style="border: none; font-size: 1.2rem"
                    ></button>
                </div>
            </div>
            <div
                formArrayName="recomendaciones"
                *ngFor="let item of recomendaciones.controls; let i = index"
                class="field grid"
            >
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label>Recomendacion {{ i + 1 }}</label>
                    <span>{{
                        recomendaciones.at(i).get("recomendacion" + i)?.value
                    }}</span>
                </div>
                <!-- END -->
                <div
                    class="col-2 col-label text-right mr-2 align-self-start p-hide"
                >
                    <label class="pdf-label uppercase font-bold"
                        >Recomendacion {{ i + 1 }}</label
                    >
                </div>
                <div class="col-9 col-input" [formGroupName]="i">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full"
                        [formControlName]="'recomendacion' + i"
                    ></textarea>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2"></div>
                <div class="col-9 flex column-gap-4">
                    <button
                        pButton
                        icon="pi pi-plus"
                        (click)="addItem('recomendaciones')"
                        style="border: none; font-size: 1.2rem"
                    ></button>
                    <button
                        pButton
                        icon="pi pi-times"
                        (click)="deleteItem('recomendaciones')"
                        style="border: none; font-size: 1.2rem"
                    ></button>
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="field grid">
                <!-- FIELD TO PDF -->
                <div class="body-image body-image--left p-show">
                    <img
                        [src]="firmaJuradoImage"
                        alt="Vista Previa de la Firma"
                        style="max-width: 300px; max-height: 100px"
                    />
                </div>
                <!-- END -->
                <span
                    class="col-2 col-label--firma text-right align-self-start"
                >
                    <b>Firma Jurado</b>
                </span>
                <div class="col-9 col-input--firma text-center max-w-30rem">
                    <p-fileUpload
                        name="firmaJurado"
                        chooseIcon="pi pi-file"
                        accept=".png"
                        chooseLabel="Seleccionar"
                        class="w-full"
                        previewWidth="150"
                        [auto]="true"
                        (onSelect)="onFirmaJuradoChange($event)"
                    >
                        <ng-template let-file pTemplate="file">
                            <div *ngIf="firmaJuradoImage">
                                <img
                                    [src]="firmaJuradoImage"
                                    alt="Vista Previa de la Firma"
                                    style="
                                        min-height: 120px;
                                        min-width: 150px;
                                        width: 100%;
                                        height: 100%;
                                    "
                                />
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="field grid">
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label class="uppercase">Nombre Jurado</label>
                    <span>{{ formatoCForm.get("nombreJurado").value }}</span>
                </div>
                <!-- END -->

                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Nombre Jurado</label>
                </div>
                <div class="col-9 col-input">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full"
                        formControlName="nombreJurado"
                    ></textarea>
                </div>
            </div>
            <div class="field grid">
                <!-- FIELD TO PDF -->
                <div class="body-field p-show">
                    <label class="uppercase">Afiliacion Jurado</label>
                    <span>{{
                        formatoCForm.get("afiliacionJurado").value
                    }}</span>
                </div>
                <!-- END -->

                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Afiliacion Jurado</label>
                </div>
                <div class="col-9 col-input">
                    <textarea
                        pInputTextarea
                        [maxLength]="250"
                        class="p-inputtextarea-md w-full"
                        formControlName="afiliacionJurado"
                    ></textarea>
                </div>
            </div>
        </div>
        <div
            class="flex flex-row align-items-center justify-content-center footer-logo body-footer"
        >
            <img
                src="assets/layout/images/logosIcontec.png"
                alt="Logo Icontec"
                width="200px"
                height="140px"
            />
            <div
                class="flex flex-column align-items-center justify-content-center footer-text"
            >
                <span>
                    Hacia una Universidad comprometida con la paz territorial
                </span>
                <hr />
                <span>
                    Facultad de Ingeniería Electrónica y Telecomunicaciones
                    Sector Tulcán Popayán - Cauca - Colombia Conmutador 8209800
                    Exts. 2145 -2103
                </span>
            </div>
        </div>
        <div class="flex align-items-center justify-content-end mt-4">
            <button
                pButton
                type="button"
                icon="pi pi-save"
                label="Descargar Documento"
                (click)="onSave()"
                [loading]="loading"
            ></button>
        </div>
    </form>
</div>
<ng-template #noEvaluadorSelected>
    <p-fieldset class="field-evaluador" legend="Cargar Evaluador"></p-fieldset>
</ng-template>
