<p-panel *ngIf="!isLoading; else spinner">
    <ng-template pTemplate="header">
        <span class="font-bold w-full text-center" style="font-size: 20px"
            >Examen de Valoracion</span
        >
    </ng-template>
    <div class="col flex align-items-center justify-content-center">
        <p-card
            class="m-2 w-full max-w-30rem"
            header="Datos del Estudiante"
            *ngIf="estudianteSeleccionado"
        >
            <div class="mt-2 card-data flex justify-content-between">
                <span>Codigo</span>
                <span>{{ estudianteSeleccionado.codigo }}</span>
            </div>
            <div class="mt-2 card-data flex justify-content-between">
                <span>Numero de Identificacion</span>
                <span>{{ estudianteSeleccionado.identificacion }}</span>
            </div>
            <div class="mt-2 card-data flex justify-content-between">
                <span>Nombres y Apellidos</span>
                <span
                    >{{ estudianteSeleccionado.nombre }}
                    {{ estudianteSeleccionado.apellido }}</span
                >
            </div>
        </p-card>
    </div>
    <div class="flex mt-4 justify-content-between">
        <div class="flex align-items-center column-gap-4">
            <button
                pButton
                type="button"
                icon="pi pi-book"
                class="w-15rem p-button-secondary"
                [raised]="true"
                severity="secondary"
                label="Solicitud examen de valoración"
                (click)="redirectToSolicitud(this.solicitudId)"
            ></button>
            <button
                pButton
                type="button"
                icon="pi pi-envelope"
                class="w-15rem p-button-secondary"
                [raised]="true"
                label="Respuesta al examen de valoración"
                [disabled]="
                    !!this.respuestaId ? !!this.respuestaId : isActiveIndex()
                "
            ></button>
            <button
                pButton
                type="button"
                icon="pi pi-paperclip"
                class="w-15rem p-button-secondary"
                [raised]="true"
                severity="secondary"
                label="Generacion de resolucion"
                (click)="redirectToResolucion(this.resolucionId)"
            ></button>
        </div>
        <div class="flex align-items-center">
            <button
                *ngIf="editMode"
                pButton
                icon="pi pi-save"
                label="Guardar"
                (click)="redirectToBandeja()"
            ></button>
        </div>
    </div>
    <ng-template class="w-full" pTemplate="footer">
        <form [formGroup]="respuestaForm" enctype="multipart/form-data">
            <div class="flex flex-column gap-2">
                <div class="text-center font-medium mb-4">
                    <p>
                        <b>Respuesta del examen de valoración </b>
                    </p>
                </div>
                <div class="field grid">
                    <div class="col-2 col-label text-right align-self-center">
                        <label class="label-required"
                            >Título del Trabajo de Investigacion</label
                        >
                    </div>
                    <div class="col-10 col-input">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md w-full"
                            formControlName="titulo"
                        />
                    </div>
                </div>
                <div class="field grid">
                    <div
                        class="col-2 col-label flex flex-column row-gap-4 text-right align-self-center"
                    >
                        <strong style="font-size: 16px"
                            >Evaluador Externo</strong
                        >
                        <span
                            >Nombre: {{ expertoSeleccionado.nombre }}
                            {{ expertoSeleccionado.apellido }}</span
                        >
                        <span
                            >Universidad:
                            {{ expertoSeleccionado.universidad }}</span
                        >
                    </div>
                </div>
                <div class="field grid">
                    <div style="max-width: 90%" class="col-12 flex m-auto">
                        <div formArrayName="evaluaciones" class="w-full">
                            <div
                                *ngFor="
                                    let evaluacion of evaluaciones.controls;
                                    let i = index
                                "
                            >
                                <div
                                    class="flex align-items-center justify-content-end mt-4"
                                >
                                    <button
                                        pButton
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="eliminarEvaluacion(i)"
                                    ></button>
                                </div>
                                <p-fieldset
                                    legend="Evaluacion {{ i + 1 }}"
                                    formGroupName="{{ i }}"
                                >
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Formato B (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docFormatoB' + i
                                                        "
                                                        [filename]="
                                                            'docFormatoB' + i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docFormatoB' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoB" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoB" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docFormatoB' + i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docFormatoB',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docFormatoB' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Formato C (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docFormatoC' + i
                                                        "
                                                        [filename]="
                                                            'docFormatoC' + i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docFormatoC' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoC" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoC" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docFormatoC' + i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docFormatoC',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docFormatoC' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Observaciones (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docObservaciones' +
                                                            i
                                                        "
                                                        [filename]="
                                                            'docObservaciones' +
                                                            i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docObservaciones' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docObservaciones" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docObservaciones" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docObservaciones' +
                                                                i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docObservaciones',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docObservaciones' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Respuesta al examen de valoración
                                        </label>
                                        <div class="col-9 flex column-gap-4">
                                            <div
                                                *ngFor="
                                                    let estado of estados;
                                                    let j = index
                                                "
                                                class="field-checkbox"
                                            >
                                                <p-radioButton
                                                    [inputId]="
                                                        'estadoRespuesta' + i
                                                    "
                                                    [value]="estado.name"
                                                    [formControlName]="
                                                        'estadoRespuesta' + i
                                                    "
                                                ></p-radioButton>
                                                <label
                                                    [for]="
                                                        'estadoRespuesta' + i
                                                    "
                                                    class="ml-2"
                                                    >{{ estado.name }}</label
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </div>
                    </div>
                    <div
                        style="max-width: 90%"
                        class="col-12 flex align-items-center mt-4 m-auto justify-content-end"
                    >
                        <button
                            pButton
                            type="button"
                            icon="pi pi-plus"
                            label="Agregar Evaluacion"
                            (click)="agregarEvaluacion()"
                        ></button>
                    </div>
                </div>
                <div class="field grid">
                    <div
                        class="col-2 col-label flex flex-column row-gap-4 text-right align-self-center"
                    >
                        <strong style="font-size: 16px"
                            >Evaluador Interno</strong
                        >
                        <span
                            >Nombre: {{ docenteSeleccionado.nombre }}
                            {{ docenteSeleccionado.apellido }}</span
                        >
                        <span
                            >Universidad:
                            {{ docenteSeleccionado.universidad }}</span
                        >
                    </div>
                </div>
                <!-- <div class="field grid">
                    <div style="max-width: 90%" class="col-12 flex m-auto">
                        <div formArrayName="evaluaciones" class="w-full">
                            <div
                                *ngFor="
                                    let evaluacion of evaluaciones.controls;
                                    let i = index
                                "
                            >
                                <div
                                    class="flex align-items-center justify-content-end mt-4"
                                >
                                    <button
                                        pButton
                                        type="button"
                                        icon="pi pi-trash"
                                        (click)="eliminarEvaluacion(i)"
                                    ></button>
                                </div>
                                <p-fieldset
                                    legend="Evaluacion {{ i + 1 }}"
                                    formGroupName="{{ i }}"
                                >
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Formato B (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docFormatoB' + i
                                                        "
                                                        [filename]="
                                                            'docFormatoB' + i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docFormatoB' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoB" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoB" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docFormatoB' + i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docFormatoB',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docFormatoB' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Formato C (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docFormatoC' + i
                                                        "
                                                        [filename]="
                                                            'docFormatoC' + i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docFormatoC' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoC" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docFormatoC" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docFormatoC' + i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docFormatoC',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docFormatoC' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Observaciones (.pdf)
                                        </label>
                                        <div class="col-7 col-input">
                                            <div
                                                class="flex flex-wrap gap-2 max-w-30rem align-items-start"
                                            >
                                                <div
                                                    class="flex flex-column row-gap-2 align-items-start justify-content-start flex-1"
                                                >
                                                    <app-custom-file-upload
                                                        [formControlName]="
                                                            'docObservaciones' +
                                                            i
                                                        "
                                                        [filename]="
                                                            'docObservaciones' +
                                                            i
                                                        "
                                                        [selected]="
                                                            selectedFiles
                                                        "
                                                        [evaluacionId]="
                                                            this.evaluacionIds[
                                                                i
                                                            ]
                                                        "
                                                        (archivoDeseleccionado)="
                                                            onRemove($event)
                                                        "
                                                        (archivoSeleccionado)="
                                                            onArchivoSeleccionado(
                                                                $event
                                                            )
                                                        "
                                                    ></app-custom-file-upload>
                                                    <div
                                                        class="mt-2"
                                                        *ngIf="
                                                            selectedFiles[
                                                                'docObservaciones' +
                                                                    i
                                                            ]
                                                        "
                                                    >
                                                        {{
                                                            selectedFiles[
                                                                "docObservaciones" +
                                                                    i
                                                            ].name
                                                        }}
                                                        -
                                                        {{
                                                            selectedFiles[
                                                                "docObservaciones" +
                                                                    i
                                                            ].size | bytesToKb
                                                        }}
                                                        KB
                                                    </div>
                                                </div>
                                                <button
                                                    *ngIf="
                                                        selectedFiles[
                                                            'docObservaciones' +
                                                                i
                                                        ]
                                                    "
                                                    pButton
                                                    type="button"
                                                    icon="pi pi-download"
                                                    (click)="
                                                        getFileAndSetValue(
                                                            'docObservaciones',
                                                            i
                                                        )
                                                    "
                                                ></button>
                                            </div>
                                            <div
                                                class="mt-2"
                                                *ngIf="
                                                    !selectedFiles[
                                                        'docObservaciones' + i
                                                    ]
                                                "
                                            >
                                                <p>
                                                    No has seleccionado ningún
                                                    documento.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid column-gap-4 mb-6">
                                        <label
                                            class="label-required col-2 text-right"
                                            >Respuesta al examen de valoración
                                        </label>
                                        <div class="col-9 flex column-gap-4">
                                            <div
                                                *ngFor="
                                                    let estado of estados;
                                                    let j = index
                                                "
                                                class="field-checkbox"
                                            >
                                                <p-radioButton
                                                    [inputId]="
                                                        'estadoRespuesta' + i
                                                    "
                                                    [value]="estado.name"
                                                    [formControlName]="
                                                        'estadoRespuesta' + i
                                                    "
                                                ></p-radioButton>
                                                <label
                                                    [for]="
                                                        'estadoRespuesta' + i
                                                    "
                                                    class="ml-2"
                                                    >{{ estado.name }}</label
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </div>
                    </div>
                    <div
                        style="max-width: 90%"
                        class="col-12 flex align-items-center mt-4 m-auto justify-content-end"
                    >
                        <button
                            pButton
                            type="button"
                            icon="pi pi-plus"
                            label="Agregar Evaluacion"
                            (click)="agregarEvaluacion()"
                        ></button>
                    </div>
                </div> -->
                <div class="field grid mt-4">
                    <div
                        class="col-6 w-19rem col-label text-right align-self-center"
                    >
                        <label class="label-required"
                            >Fecha Maxima Entrega de Correciones</label
                        >
                    </div>
                    <div class="col-6 col-input">
                        <p-calendar
                            formControlName="fecha_correcciones"
                            [showIcon]="true"
                            dateFormat="dd.mm.yy"
                        ></p-calendar>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</p-panel>
<ng-template #spinner>
    <p-progressSpinner ariaLabel="loading" class="spinner"></p-progressSpinner>
</ng-template>
